html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: whitesmoke;
}

#room-layout {
    --cell-size: 70px;
    padding: 16px;

    .row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 16px 0;
    }

    .cell-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

    .cell {
        width: var(--cell-size);
        height: var(--cell-size);
        box-sizing: border-box;
        border-radius: 8px;
        display: inline-block;
        border: 3px dashed transparent;

        &.computer {
            background-color: lightgray;

            &.current {
                border-color: white;
            }

            &.unassigned {
                background-color: gray;

                &:hover {
                    cursor: pointer;
                    border-color: white;
                }
            }
        }
    }

    .student-name {
        font-size: 13px;
        text-align: center;
        max-width: var(--cell-size);
        white-space: nowrap;
        min-height: 1.5em;
    }
}