<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form id="form" method="post">
    <label for="room_id">Room ID:</label>
    <input type="text" id="room_id" name="room_id" required>
    <label for="hostname">Hostname:</label>
    <input type="text" id="hostname" name="hostname" required>
    <label for="secret">Secret:</label>
    <input type="password" id="secret" name="secret" required>
    <button type="submit">Join Room</button>
</form>

</body>
</html>